form.container
    h1 Setup
    label Email
    input#Email(type="email" name="email" placeholder="Email" required="required")
    label Password
    input#Password(name="password" type="password" required="required")
    input#Submit(type="submit")
